.row {
    text-align: center;
    }
        
.method_title {
    background-color: skyblue;
    padding-top: 5px;
    padding-bottom: 5px;
}
        
.method_box {
    border: 3px dotted skyblue;
    height: auto;
    width: auto;
    max-width: 550px;
}
        
.comment_box {
    border: 1px solid black;
    height: auto;
    max-width: 500px;
}

#jsmolAppletM1_appletinfotablediv {
    margin: 10px;
}

.dropdown-toggle {
    margin: 5px;
}